UIElementsSchema/Unity.UIToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.UIToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.UIToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:import schemaLocation="UnityEngine.xsd" namespace="UnityEngine" />
  <xs:complexType name="TextOverflowPositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q1:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="end" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowPositionStyleEnumField" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:TextOverflowPositionStyleEnumFieldType" />
  <xs:complexType name="OverrideFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute default="true" name="value" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverrideRowType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverrideRow" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:OverrideRowType" />
  <xs:element name="OverrideFoldout" substitutionGroup="tns:OverrideRow" type="tns:OverrideFoldoutType" />
  <xs:complexType name="UxmlAttributesViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributesView" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:UxmlAttributesViewType" />
  <xs:complexType name="BackgroundSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundSizeStyleField" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:BindableElement" type="tns:BackgroundSizeStyleFieldType" />
  <xs:complexType name="FontStyleToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="Normal" name="value" xmlns:q10="UnityEngine" type="q10:FontStyleType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleToggleField" xmlns:q11="UnityEngine.UIElements" substitutionGroup="q11:BindableElement" type="tns:FontStyleToggleFieldType" />
  <xs:complexType name="NewSelectorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="UnityEngine.UIElements" base="q12:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewSelectorField" xmlns:q13="UnityEngine.UIElements" substitutionGroup="q13:VisualElement" type="tns:NewSelectorFieldType" />
  <xs:complexType name="StyleRuleHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="rule-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UISelectionObjectHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="UnityEngine.UIElements" base="q14:VisualElementType">
        <xs:choice />
        <xs:attribute name="type-icon" type="xs:string" />
        <xs:attribute name="type-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UISelectionObjectHeader" xmlns:q15="UnityEngine.UIElements" substitutionGroup="q15:VisualElement" type="tns:UISelectionObjectHeaderType" />
  <xs:element name="StyleRuleHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:StyleRuleHeaderType" />
  <xs:complexType name="StyleBackgroundSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="UnityEngine.UIElements" base="q16:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q16:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundSizeField" xmlns:q17="UnityEngine.UIElements" substitutionGroup="q17:BindableElement" type="tns:StyleBackgroundSizeFieldType" />
  <xs:complexType name="SliceTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="UnityEngine.UIElements" base="q18:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q18:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sliced" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SliceTypeStyleEnumField" xmlns:q19="UnityEngine.UIElements" substitutionGroup="q19:BindableElement" type="tns:SliceTypeStyleEnumFieldType" />
  <xs:complexType name="FilterStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="UnityEngine.UIElements" base="q20:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterStyleField" xmlns:q21="UnityEngine.UIElements" substitutionGroup="q21:BindableElement" type="tns:FilterStyleFieldType" />
  <xs:complexType name="EditorTextRenderingModeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="UnityEngine.UIElements" base="q22:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q22:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="sdf" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditorTextRenderingModeStyleEnumField" xmlns:q23="UnityEngine.UIElements" substitutionGroup="q23:BindableElement" type="tns:EditorTextRenderingModeStyleEnumFieldType" />
  <xs:complexType name="PositionFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="UnityEngine.UIElements" base="q24:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionFoldout" xmlns:q25="UnityEngine.UIElements" substitutionGroup="q25:VisualElement" type="tns:PositionFoldoutType" />
  <xs:complexType name="JustifyStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="UnityEngine.UIElements" base="q26:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q26:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flexstart" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JustifyStyleEnumField" xmlns:q27="UnityEngine.UIElements" substitutionGroup="q27:BindableElement" type="tns:JustifyStyleEnumFieldType" />
  <xs:complexType name="StyleTranslateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="UnityEngine.UIElements" base="q28:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q28:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTranslateField" xmlns:q29="UnityEngine.UIElements" substitutionGroup="q29:BindableElement" type="tns:StyleTranslateFieldType" />
  <xs:complexType name="OpenInBuilderElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="UnityEngine.UIElements" base="q30:VisualElementType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenInBuilderElement" xmlns:q31="UnityEngine.UIElements" substitutionGroup="q31:VisualElement" type="tns:OpenInBuilderElementType" />
  <xs:complexType name="SpacingBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpacingBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:SpacingBoxModelFieldType" />
  <xs:complexType name="StyleRatioFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="UnityEngine.UIElements" base="q32:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q32:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRatioField" xmlns:q33="UnityEngine.UIElements" substitutionGroup="q33:BindableElement" type="tns:StyleRatioFieldType" />
  <xs:complexType name="StyleTextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="UnityEngine.UIElements" base="q34:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q34:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextShadowField" xmlns:q35="UnityEngine.UIElements" substitutionGroup="q35:BindableElement" type="tns:StyleTextShadowFieldType" />
  <xs:complexType name="FieldAffordanceElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="UnityEngine.UIElements" base="q36:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldAffordanceElement" xmlns:q37="UnityEngine.UIElements" substitutionGroup="q37:VisualElement" type="tns:FieldAffordanceElementType" />
  <xs:complexType name="DisplayStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="UnityEngine.UIElements" base="q38:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q38:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="flex" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplayStyleEnumField" xmlns:q39="UnityEngine.UIElements" substitutionGroup="q39:BindableElement" type="tns:DisplayStyleEnumFieldType" />
  <xs:complexType name="WrapStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q40="UnityEngine.UIElements" base="q40:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q40:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="nowrap" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WrapStyleEnumField" xmlns:q41="UnityEngine.UIElements" substitutionGroup="q41:BindableElement" type="tns:WrapStyleEnumFieldType" />
  <xs:complexType name="StyleTransformOriginFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q42="UnityEngine.UIElements" base="q42:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q42:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="top left" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransformOriginField" xmlns:q43="UnityEngine.UIElements" substitutionGroup="q43:BindableElement" type="tns:StyleTransformOriginFieldType" />
  <xs:complexType name="WhiteSpaceStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q44="UnityEngine.UIElements" base="q44:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q44:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WhiteSpaceStyleEnumField" xmlns:q45="UnityEngine.UIElements" substitutionGroup="q45:BindableElement" type="tns:WhiteSpaceStyleEnumFieldType" />
  <xs:complexType name="TextShadowFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="UnityEngine.UIElements" base="q46:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0px 0px rgba(0, 0, 0, 0)" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowField" xmlns:q47="UnityEngine.UIElements" substitutionGroup="q47:BindableElement" type="tns:TextShadowFieldType" />
  <xs:complexType name="StyleMaterialDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q48="UnityEngine.UIElements" base="q48:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q48:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleMaterialDefinitionField" xmlns:q49="UnityEngine.UIElements" substitutionGroup="q49:BindableElement" type="tns:StyleMaterialDefinitionFieldType" />
  <xs:complexType name="BorderBoxModelFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideRowType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderBoxModelField" substitutionGroup="tns:OverrideRow" type="tns:BorderBoxModelFieldType" />
  <xs:complexType name="VisualTreeAssetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="visual-tree-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualTreeAssetHeaderType" />
  <xs:complexType name="TextShadowOffsetFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q50="UnityEngine.UIElements" base="q50:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0,0" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextShadowOffsetField" xmlns:q51="UnityEngine.UIElements" substitutionGroup="q51:BindableElement" type="tns:TextShadowOffsetFieldType" />
  <xs:complexType name="AlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q52="UnityEngine.UIElements" base="q52:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q52:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="auto" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute name="auto-tooltip" type="xs:string" />
        <xs:attribute name="flex-start-tooltip" type="xs:string" />
        <xs:attribute name="center-tooltip" type="xs:string" />
        <xs:attribute name="flex-end-tooltip" type="xs:string" />
        <xs:attribute name="stretch-tooltip" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlignStyleEnumField" xmlns:q53="UnityEngine.UIElements" substitutionGroup="q53:BindableElement" type="tns:AlignStyleEnumFieldType" />
  <xs:complexType name="PositionAnchorsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="UnityEngine.UIElements" base="q54:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionAnchors" xmlns:q55="UnityEngine.UIElements" substitutionGroup="q55:VisualElement" type="tns:PositionAnchorsType" />
  <xs:complexType name="BindingDataSourceViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q56="UnityEngine.UIElements" base="q56:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindingDataSourceView" xmlns:q57="UnityEngine.UIElements" substitutionGroup="q57:BindableElement" type="tns:BindingDataSourceViewType" />
  <xs:complexType name="TextGeneratorTypeStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q58="UnityEngine.UIElements" base="q58:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q58:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="standard" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextGeneratorTypeStyleEnumField" xmlns:q59="UnityEngine.UIElements" substitutionGroup="q59:BindableElement" type="tns:TextGeneratorTypeStyleEnumFieldType" />
  <xs:complexType name="StylePropertyBindingType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element xmlns:q60="UnityEngine.UIElements" ref="q60:VisualElement" />
    </xs:choice>
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute default="OnSourceChanged" name="update-trigger" xmlns:q61="UnityEngine.UIElements" type="q61:BindingUpdateTriggerType" />
    <xs:attribute name="style-property" type="xs:string" />
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:element name="StylePropertyBinding" type="tns:StylePropertyBindingType" />
  <xs:complexType name="UxmlAttributeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q62="UnityEngine.UIElements" base="q62:VisualElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="binding-path" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeField" xmlns:q63="UnityEngine.UIElements" substitutionGroup="q63:VisualElement" type="tns:UxmlAttributeFieldType" />
  <xs:complexType name="UxmlSerializedDataPropertyViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q64="UnityEngine.UIElements" base="q64:BindableElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlSerializedDataPropertyView" xmlns:q65="UnityEngine.UIElements" substitutionGroup="q65:BindableElement" type="tns:UxmlSerializedDataPropertyViewType" />
  <xs:complexType name="TextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q66="UnityEngine.UIElements" base="q66:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q66:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignStyleEnumField" xmlns:q67="UnityEngine.UIElements" substitutionGroup="q67:BindableElement" type="tns:TextAlignStyleEnumFieldType" />
  <xs:complexType name="StyleTextAutoSizeFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q68="UnityEngine.UIElements" base="q68:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q68:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTextAutoSizeField" xmlns:q69="UnityEngine.UIElements" substitutionGroup="q69:BindableElement" type="tns:StyleTextAutoSizeFieldType" />
  <xs:complexType name="StyleSheetsNewSelectorHelpTipsType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q70="UnityEngine.UIElements" base="q70:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleSheetsNewSelectorHelpTips" xmlns:q71="UnityEngine.UIElements" substitutionGroup="q71:VisualElement" type="tns:StyleSheetsNewSelectorHelpTipsType" />
  <xs:complexType name="StyleFontDefinitionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q72="UnityEngine.UIElements" base="q72:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q72:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontDefinitionField" xmlns:q73="UnityEngine.UIElements" substitutionGroup="q73:BindableElement" type="tns:StyleFontDefinitionFieldType" />
  <xs:complexType name="StylePercentSliderFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q74="UnityEngine.UIElements" base="q74:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q74:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StylePercentSliderField" xmlns:q75="UnityEngine.UIElements" substitutionGroup="q75:BindableElement" type="tns:StylePercentSliderFieldType" />
  <xs:complexType name="VisualElementHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="element-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:VisualElementHeaderType" />
  <xs:complexType name="StyleScaleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q76="UnityEngine.UIElements" base="q76:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q76:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleScaleField" xmlns:q77="UnityEngine.UIElements" substitutionGroup="q77:BindableElement" type="tns:StyleScaleFieldType" />
  <xs:complexType name="StyleSheetHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UISelectionObjectHeaderType">
        <xs:choice />
        <xs:attribute name="style-sheet-name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleSheetHeader" substitutionGroup="tns:UISelectionObjectHeader" type="tns:StyleSheetHeaderType" />
  <xs:complexType name="LengthFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LengthFoldoutField" substitutionGroup="tns:OverrideFoldout" type="tns:LengthFoldoutFieldType" />
  <xs:complexType name="BackgroundRepeatStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q78="UnityEngine.UIElements" base="q78:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundRepeatStyleField" xmlns:q79="UnityEngine.UIElements" substitutionGroup="q79:BindableElement" type="tns:BackgroundRepeatStyleFieldType" />
  <xs:complexType name="PercentSliderType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q80="UnityEngine.UIElements" base="q80:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PercentSlider" xmlns:q81="UnityEngine.UIElements" substitutionGroup="q81:BindableElement" type="tns:PercentSliderType" />
  <xs:complexType name="VisualElementBindingsInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UxmlAttributesViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementBindingsInspectorElement" substitutionGroup="tns:UxmlAttributesView" type="tns:VisualElementBindingsInspectorElementType" />
  <xs:complexType name="StyleSheetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q82="UnityEngine.UIElements" base="q82:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleSheetInspector" xmlns:q83="UnityEngine.UIElements" substitutionGroup="q83:VisualElement" type="tns:StyleSheetInspectorType" />
  <xs:complexType name="StyleTransitionListViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="UnityEngine.UIElements" base="q84:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleTransitionListView" xmlns:q85="UnityEngine.UIElements" substitutionGroup="q85:VisualElement" type="tns:StyleTransitionListViewType" />
  <xs:complexType name="StyleBackgroundPositionFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q86="UnityEngine.UIElements" base="q86:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q86:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundPositionField" xmlns:q87="UnityEngine.UIElements" substitutionGroup="q87:BindableElement" type="tns:StyleBackgroundPositionFieldType" />
  <xs:complexType name="FlexDirectionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q88="UnityEngine.UIElements" base="q88:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q88:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="column" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlexDirectionStyleEnumField" xmlns:q89="UnityEngine.UIElements" substitutionGroup="q89:BindableElement" type="tns:FlexDirectionStyleEnumFieldType" />
  <xs:complexType name="VisibilityStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q90="UnityEngine.UIElements" base="q90:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q90:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibilityStyleEnumField" xmlns:q91="UnityEngine.UIElements" substitutionGroup="q91:BindableElement" type="tns:VisibilityStyleEnumFieldType" />
  <xs:complexType name="TextOverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q92="UnityEngine.UIElements" base="q92:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q92:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="clip" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextOverflowStyleEnumField" xmlns:q93="UnityEngine.UIElements" substitutionGroup="q93:BindableElement" type="tns:TextOverflowStyleEnumFieldType" />
  <xs:complexType name="StyleFloatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q94="UnityEngine.UIElements" base="q94:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q94:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFloatField" xmlns:q95="UnityEngine.UIElements" substitutionGroup="q95:BindableElement" type="tns:StyleFloatFieldType" />
  <xs:complexType name="VisualElementAttributesInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UxmlAttributesViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementAttributesInspectorElement" substitutionGroup="tns:UxmlAttributesView" type="tns:VisualElementAttributesInspectorElementType" />
  <xs:complexType name="StyleIntFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q96="UnityEngine.UIElements" base="q96:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q96:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleIntField" xmlns:q97="UnityEngine.UIElements" substitutionGroup="q97:BindableElement" type="tns:StyleIntFieldType" />
  <xs:complexType name="TextAlignToggleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q98="UnityEngine.UIElements" base="q98:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="UpperLeft" name="value" xmlns:q99="UnityEngine" type="q99:TextAnchorType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAlignToggleField" xmlns:q100="UnityEngine.UIElements" substitutionGroup="q100:BindableElement" type="tns:TextAlignToggleFieldType" />
  <xs:complexType name="StyleLengthFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="UnityEngine.UIElements" base="q101:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q101:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
        <xs:attribute default="true" name="show-unit-as-dropdown" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleLengthField" xmlns:q102="UnityEngine.UIElements" substitutionGroup="q102:BindableElement" type="tns:StyleLengthFieldType" />
  <xs:complexType name="StyleBackgroundFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q103="UnityEngine.UIElements" base="q103:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q103:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundField" xmlns:q104="UnityEngine.UIElements" substitutionGroup="q104:BindableElement" type="tns:StyleBackgroundFieldType" />
  <xs:complexType name="StyleRotateFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q105="UnityEngine.UIElements" base="q105:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q105:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="0 0 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRotateField" xmlns:q106="UnityEngine.UIElements" substitutionGroup="q106:BindableElement" type="tns:StyleRotateFieldType" />
  <xs:complexType name="VisualTreeAssetInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q107="UnityEngine.UIElements" base="q107:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualTreeAssetInspector" xmlns:q108="UnityEngine.UIElements" substitutionGroup="q108:VisualElement" type="tns:VisualTreeAssetInspectorType" />
  <xs:complexType name="VisualElementInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q109="UnityEngine.UIElements" base="q109:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElementInspector" xmlns:q110="UnityEngine.UIElements" substitutionGroup="q110:VisualElement" type="tns:VisualElementInspectorType" />
  <xs:complexType name="BorderRadiusFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderRadiusFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderRadiusFoldoutType" />
  <xs:complexType name="StyleBackgroundRepeatFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q111="UnityEngine.UIElements" base="q111:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q111:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="no-repeat" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleBackgroundRepeatField" xmlns:q112="UnityEngine.UIElements" substitutionGroup="q112:BindableElement" type="tns:StyleBackgroundRepeatFieldType" />
  <xs:complexType name="StyleFontFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q113="UnityEngine.UIElements" base="q113:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q113:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleFontField" xmlns:q114="UnityEngine.UIElements" substitutionGroup="q114:BindableElement" type="tns:StyleFontFieldType" />
  <xs:complexType name="StyleRuleInspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q115="UnityEngine.UIElements" base="q115:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleRuleInspector" xmlns:q116="UnityEngine.UIElements" substitutionGroup="q116:VisualElement" type="tns:StyleRuleInspectorType" />
  <xs:complexType name="FontStyleStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q117="UnityEngine.UIElements" base="q117:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q117:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="normal" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FontStyleStyleEnumField" xmlns:q118="UnityEngine.UIElements" substitutionGroup="q118:BindableElement" type="tns:FontStyleStyleEnumFieldType" />
  <xs:complexType name="BorderWidthFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderWidthFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderWidthFoldoutType" />
  <xs:complexType name="StyleInspectorElementType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q119="UnityEngine.UIElements" base="q119:VisualElementType">
        <xs:choice />
        <xs:attribute name="content-asset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleInspectorElement" xmlns:q120="UnityEngine.UIElements" substitutionGroup="q120:VisualElement" type="tns:StyleInspectorElementType" />
  <xs:complexType name="UnityTextAlignStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q121="UnityEngine.UIElements" base="q121:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q121:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="upperleft" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnityTextAlignStyleEnumField" xmlns:q122="UnityEngine.UIElements" substitutionGroup="q122:BindableElement" type="tns:UnityTextAlignStyleEnumFieldType" />
  <xs:complexType name="PositionStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q123="UnityEngine.UIElements" base="q123:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q123:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="relative" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionStyleEnumField" xmlns:q124="UnityEngine.UIElements" substitutionGroup="q124:BindableElement" type="tns:PositionStyleEnumFieldType" />
  <xs:complexType name="BackgroundPositionStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q125="UnityEngine.UIElements" base="q125:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="center" name="value" type="xs:string" />
        <xs:attribute default="Horizontal" name="mode" type="q125:AxisType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BackgroundPositionStyleField" xmlns:q126="UnityEngine.UIElements" substitutionGroup="q126:BindableElement" type="tns:BackgroundPositionStyleFieldType" />
  <xs:complexType name="PaddingFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaddingFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:PaddingFoldoutFieldType" />
  <xs:complexType name="StyleCursorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q127="UnityEngine.UIElements" base="q127:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q127:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default=" 0 0" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleCursorField" xmlns:q128="UnityEngine.UIElements" substitutionGroup="q128:BindableElement" type="tns:StyleCursorFieldType" />
  <xs:complexType name="MarginFoldoutFieldType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LengthFoldoutFieldType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarginFoldoutField" substitutionGroup="tns:LengthFoldoutField" type="tns:MarginFoldoutFieldType" />
  <xs:complexType name="UxmlAttributeFieldDecoratorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q129="UnityEngine.UIElements" base="q129:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UxmlAttributeFieldDecorator" xmlns:q130="UnityEngine.UIElements" substitutionGroup="q130:VisualElement" type="tns:UxmlAttributeFieldDecoratorType" />
  <xs:complexType name="StyleColorFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q131="UnityEngine.UIElements" base="q131:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q131:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="rgba(0, 0, 0, 0)" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StyleColorField" xmlns:q132="UnityEngine.UIElements" substitutionGroup="q132:BindableElement" type="tns:StyleColorFieldType" />
  <xs:complexType name="OverflowStyleEnumFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q133="UnityEngine.UIElements" base="q133:BindableElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q133:Syntax" />
        </xs:choice>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="visible" name="value" type="xs:string" />
        <xs:attribute default="true" name="contains-affordance" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OverflowStyleEnumField" xmlns:q134="UnityEngine.UIElements" substitutionGroup="q134:BindableElement" type="tns:OverflowStyleEnumFieldType" />
  <xs:complexType name="TextAutoSizeStyleFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q135="UnityEngine.UIElements" base="q135:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute default="none" name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextAutoSizeStyleField" xmlns:q136="UnityEngine.UIElements" substitutionGroup="q136:BindableElement" type="tns:TextAutoSizeStyleFieldType" />
  <xs:complexType name="BorderColorFoldoutType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OverrideFoldoutType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BorderColorFoldout" substitutionGroup="tns:OverrideFoldout" type="tns:BorderColorFoldoutType" />
</xs:schema>